
html
{
	min-height:100vh;
	font-family: 'Roboto Condensed', sans-serif;
}


body
{
	background-color: #F0F0F0;
	background-size: cover;
	min-height: 100vh;

}


/*header*/
header
{
	background-color: black;
	width: 100%;
	float: left;
}

.container
{
	margin-left: 21%;
	width: 68%;
}


#navBar h3
{
	background-color: black;
	color: white;
	position: relative;
	right: 8%;
	
}

#navBar
{
	float: left;
	width: 30%;
	position: relative;
	right: 2%;


}

#search
{
	margin-left: 15%;
	font-family: 'Roboto Condensed', sans-serif;

}

input::placehoder
{
	font-family: 'Roboto Condensed', sans-serif;
}

/*Main Content*/
main
{
	height: 100vh;
	clear: both;

}


#content
{
	height: 100%;
}


/*buttons*/
#buttons-container
{
	border: none;
	background-color: #F0F0F0;
	border-radius: 0%;
	width: 15%;
	margin-top: 9%;
}


.options
{

	border: none;
	margin: 6px 0px;
	width: 100%;
	letter-spacing: 0.2em;
	font-size: 10px;
	font-weight: bold;
	border-radius: 0%;
	background-color: #F0F0F0;
	color: black;

}

.btn-link
{
	color: black;
}




/*
 Display Area*/
#displayArea
{
	background-image: #F0F0F0;
	float: left;
	display: inline-block;
	width: 75%;
	padding-left: 2%;
	margin-top: 2%;


}


/*Playlists*/

#displayArea
{
	padding-left: 8%;
}

#icon
{
	width: 25px;
	background-color: #F0F0F0;
	margin-right: 0.5%;

}

#displayArea h5
{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	display: inline-block;

}

#displayArea hr
{
	width: 92%;

}



#playlistDiv
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 2%;
	overflow: hidden;


}

#playlists
{
	width: 25%;
	overflow: hidden;
	position: relative;

}



#play
{

	position: absolute;
	bottom: 236.17px;
	top: -20px;
	text-align: center;
	bottom: 0.5px;
	width: 236.17px;
	padding-top: 110px;
	padding-bottom: 110px;
	font-size: 30px;
	background-color: rgba(255, 86, 106, 0.5);

}



/*Gifs*/

#display
{
	width: 100%;
	height: 100vh;
	padding-left: 4%;
	margin-top: 2%;
	display: inline;
	float: left;
}

img
{
	width: 100%;
}

#display hr
{
	width: 92%;
}


#rating
{
	font-size: 10px;
	position: absolute;
	bottom: 236.17px;
	color: rgba(255, 255, 255, 0.1);
	font-weight: bold;
	text-align: center;
	bottom: 0.5px;
	width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;	
	background-color: rgba(0, 0, 0, 0.1);
  	transition: 0.3s;
}

#rating:active
{
	pointer-events: none;
}

#rating:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	
}


#item
{
	width: 23%;
	height: auto;
	float: left;
	position: relative;
}


